<Say::hint::list @type="sectioned" as |list|>
	<list.item @execute={{action "insert" template}} @actionLabel="Voeg in">
		<p><strong>Sjabloon</strong></p>
		{{info.label}}
	</list.item>
</Say::hint::list>

{{!-- I think it should be used the way it was used above, but it creates a lot of "clutter" --}}

{{!-- <div class="u-padding--round--tiny u-border--light--bottom">
	<div class="vl-grid">
		<div class="vl-col--8-12">
		  <p class="small">Selecteer {{info.label}}</p>
		</div>
		<div class="vl-col--4-12 u-align-right">
		  <Say::Button @width="narrow" @onClick={{action "insert"}}>Voeg in</Say::Button>
		</div>
	</div>
</div> --}}
{{!-- --}}
{{yield}}
